*.o
*.d
*.part
*.root
*.txt
*.par
*.pdf
*.pcm
doc/doxygen/html
*.geany
!CMakeLists.txt
!/data
/random_seed
.DS_Store
.vscode
.clang-format
/doc/doxygen/html
/build/
/lib/
/include/
/setup.sh
/src/event1Dict*
